<script src="../server.js"></script>
<h2>Nom:{{nom}}</h2>
<button (click)=changeName()>Modifier</button><br/>
<h2>Prénom:{{prenom}}</h2>
<button (click)=changeFirstName()>Modifier</button><br/>
<h2>Adresse mail:{{email}}</h2>
<button (click)=changeMail()>Modifier</button><br/>
<button (click)=changeMDP()>Modifier</button><br/>


<label>Allergene</label>
<div *ngFor="let allerg of allerg;let myIndex=index;"> {{allerg.nom}} <button (click)=Retirer(myIndex)>Retirer</button></div>
<select id="allergenes" [(ngModel)]="selectedAlg"
(change)="getSelectedSkill()">
    <option *ngFor="let alg of Allergenes" [ngValue]="alg.id">
      {{alg.nom}}
    </option>
    
</select>

<button (click)=Ajoutallerg()>Ajouter</button>
<style>
	button {
		margin-top: 10px;
	}
</style>
