<script src="https://cdn.rawgit.com/serratus/quaggaJS/0420d5e0/dist/quagga.min.js"></script>
<script src="node_modules/quagga/quagga.min.js"></script>


<div  id="interactive" class="viewport" *ngIf="scanned==false">
	<!-- QuaggaJS ici -->	
</div>
<div *ngIf="scanned" id="box">
	<div id="score">
		<h1>Ce produit est bon pour vous</h1>
		<h2>Allergènes: {{allergens}}</h2>
		<img class="label" src={{novaGroup}} />
		<img class="label" src={{nutriScore}} />
	</div>
		<img [src]="imageUrl" />
		<br /><button type="button">Ajouter à la liste</button>
		<h2>{{name}}</h2>
		<p>Description du produit</p>
	</div>
