<script src="https://cdn.rawgit.com/serratus/quaggaJS/0420d5e0/dist/quagga.min.js"></script>
<script src="node_modules/quagga/quagga.min.js"></script>


<div  id="interactive" class="viewport" *ngIf="scanned==false">
	<!-- QuaggaJS ici -->	
</div>
<div *ngIf="scanned && identifie" id="box">
	<div id="score">
		<h1 *ngIf="allergique==false">Ce produit est bon pour vous</h1>
		<h1 *ngIf="allergique">Attention ce produit contient des substances dont vous êtes allergiques!</h1>
		<h2>Allergènes: {{allergens}}</h2>
		<img class="label" src={{novaGroup}} />
		<img class="label" src={{nutriScore}} />
	</div>
		<img [src]="imageUrl" />
		<br /><button type="button" (click)="addToList()" *ngIf="alreadyadded==false">Ajouter à la liste</button>
		<p *ngIf="alreadyadded">Ce produit est dans votre liste</p>
		<h2>{{name}}</h2>
		<p>Description du produit</p>
		<section class="portfolio-experiment">
			<a (click)="anotherScan()">
			  <span class="text">Réessayer</span>
			  <span class="line -right"></span>
			  <span class="line -top"></span>
			  <span class="line -left"></span>
			  <span class="line -bottom"></span>
			</a>
		  </section>
	</div>
<div *ngIf="scanned && identifie==false" id="box2">
	
<H1>Le produit scanné n'a pas été reconnu.
</H1>
    <section class="portfolio-experiment">
        <a (click)="anotherScan()">
          <span class="text">Réessayer</span>
          <span class="line -right"></span>
          <span class="line -top"></span>
          <span class="line -left"></span>
          <span class="line -bottom"></span>
        </a>
      </section>

</div>