img {
  height: 150px;
  width: auto;
}
.label {
  height: 50px;
  margin-bottom: 0px;
  margin-top: 0px;
  margin-left: 20px;
  margin-right: 20px;
}
p {
  width: 140px;
  text-align: center;
  display: inline-block;
}
#box {
  width: 100%;
  text-align: center;
  color: blue;
}
#score {
  width: 100%;
}
