
<header>
	<a [routerLink]="['/']"><img src="https://i.postimg.cc/fJzC2XGn/accueil.png" alt="iconelogo" height="40px" width="40px"/></a>
	<a [routerLink]="['profil']"><img src="https://i.postimg.cc/P54GyQgx/profil.png" alt="iconeprofile" height="40px" width="40px"/></a>
	<a [routerLink]="['liste']"><img src="https://i.postimg.cc/9rLpv024/liste.png" alt="iconeliste" height="40px" width="40px"/></a>
	<a [routerLink]="['famille']"><img src="https://i.postimg.cc/rDzJcTyf/famille.png" alt="iconefamille" height="40px" width="40px"/></a>
</header>
<style>
	li {
		display: inline-block;
		padding-right: 10px;
	}

	h2 {
		color: white;
	}
</style>

<!-- 
Copyright Google LLC. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at https://angular.io/license
-->