<ul>
	<li>
		<a [routerLink]="['/']">

			<div class="logo-image">
				<img src="https://i.postimg.cc/fJzC2XGn/accueil.png" />
      </div>
		</a>
	</li>
	<li>
		<a [routerLink]="['profil']">
			<div class="logo-image">
				<img src="https://i.postimg.cc/P54GyQgx/profil.png" />
      </div>
		</a>
	</li>
	<li>
		<a [routerLink]="['groupe']">
			<div class="logo-image">
				<img src="https://i.postimg.cc/9rLpv024/liste.png" />
      </div>
		</a>
	</li>
	<li>
		<a [routerLink]="['/']">
			<div class="logo-image">
				<img src="https://i.postimg.cc/rDzJcTyf/famille.png" />
      </div>
		</a>
	</li>
</ul>

<style>
	li {
		display: inline-block;
		padding-right: 10px;
	}

	h2 {
		color: white;
	}
</style>

<!-- 
Copyright Google LLC. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at https://angular.io/license
-->